@page
@model ErpTranscript.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="container">
    <h2>Access Denied</h2>
    <p>You dont have permissions to access the requested page</p>
</div>


